@import "bootstrap";
@import "Styles";


  

  .navbar-brand {
    color: white;
  }

  .nav-link {
    color: white;
  }

  .nav-link .active {
      color: white;
  }
  .card-body {
    margin: auto;
  }