@import "bootstrap";




body {
    background-image: url("https://cdn.wallpapersafari.com/68/13/C4RHKl.jpg");
}

.blog {
    text-align: center;
    color: white;
  }
  
  .card-title {
    color: white;
    
  }
  
  .card-text {
    color: white;
  }
  
  .text-body-secondary {
    color: white;
  }

  .card-text {
    color: black;

  }
  .card-title {
    color: black;
  }






img {

    margin: auto;
    display: block;
    height: 300px;
    width: 500px;
}



